<section class="contacts-section">
  <div class="contacts-container my-container">
    <h2 class="contacts-title">Fresh harvest box has got you covered</h2>
    <ul class="contact-decorate">
      <li class="melon-item">
        <img
          class="contact-decorate-item"
          srcset="
            /img/contacts/melon_335.jpg   335w,
            /img/contacts/melon_344.jpg   344w,
            /img/contacts/melon_670.jpg   670w,
            /img/contacts/melon_688.jpg   688w,
            /img/contacts/melon_792.jpg   792w,
            /img/contacts/melon_1584.jpg 1584w
          "
          sizes="(min-width: 1280px) 792px, (min-width: 768px) 344px, (min-width: 375px) 335px,100vw"
          src="/img/contacts/melon_335.jpg"
          alt="melon"
          width="792"
          height="502"
        />
      </li>
      <li class="bilberry-item">
        <img
          class="contact-decorate-item"
          srcset="
            /img/contacts/bilberry_344.jpg 344w,
            /img/contacts/bilberry_400.jpg 400w,
            /img/contacts/bilberry_688.jpg 688w,
            /img/contacts/bilberry_800.jpg 800w
          "
          sizes="(min-width: 1280px) 400px, (min-width: 768px) 344px, 100vw"
          src="/img/contacts/bilberry_344.jpg"
          alt="bilberry"
          width="400"
          height="502"
        />
      </li>
    </ul>
    <p class="contacts-description">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <form class="contacts-form" name="signup_form">
      <input class="contacts-email" type="email" name="email" />
      <button class="contacts-button" type="submit">Submit</button>
    </form>
  </div>
</section>
