<!-- Footer -->

<footer class="footer">
  <div class="container footer-block">

    <div class="footer-logo-block">

        <img
          class="footer-img"
          srcset="../img/foot_img_349.jpg 349w, ../img/foot_img_698.jpg 698w"
          sizes="(min-width: 768px) 349px, (min-width: 480px) 335px, 100vw"
          src="../img/foot_img_349.jpg"
          alt="Image of a girl with bananas"
          width="349"
        />
        <a href="./index.html" class="footer-logo link">
          <svg class="logo-svg" width="16" height="16">

            <use href="../images/icons.svg#icon-logo"></use>
          </svg>
          <span class="footer-txt">FRESH HARVEST BOX</span>
        </a>
        <nav class="footer-nav-box">
          <ul class="nav-ul">
            <li class="nav-ul-item">
              <a href="#how_it_works" class="nav-links link">How It Works</a>
            </li>
            <li class="nav-ul-item">
              <a href="#fruits" class="nav-links link">Fruits</a>
            </li>
            <li class="nav-ul-item">
              <a href="#contacts" class="nav-links link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    

    <div class="social-media">
      <ul class="social media-list">
        <li class="social-item list">
          <a
            class="social-link link"
            href="https://instagram.com"
            target="blank"
            rel="noopener no-referrer"
            aria-label="Instagram link"
          >
            <svg class="social-icon" width="40" height="40">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="social-item list">
            <a
            class="social-link link"
            href="https://facebook.com"
            target="blank"
            rel="noopener no-referrer"
            aria-label="facebook link"
            >
            <svg class="social-icon" width="40" height="40">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item list">
          <a
            class="social-link link"
            href="https://youtube.com"
            target="blank"
            rel="noopener no-referrer"
            aria-label="youtube link"
          >
            <svg class="social-icon" width="40" height="40">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <address>
      <ul class="auth-nav list">
        <li class="item">
          <a href="tel:+380684439426" class="info link">+380 (68) 443-94-26</a>
        </li>
        <li class="item">
          <a
            href="https://goo.gl/maps/N25MgYViZaoJzKiC6?coh=178573&entry=tt"
            class="info link"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
