<!-- Modal - THANK YOU -->
<div class="backdrop-second is-hidden-second" data-modal-second>
  <div class="modal-second">
    <button class="btn-close-second" type="button" data-modal-close-second>
      <svg class="modal-second-cross-icon" width="14" height="14">
        <use href="/img/icons.svg#close-crose-icon"></use>
      </svg>
    </button>
    <div class="modal-second-thank-you">
      <img
        srcset="
          /img/modal-second/raspberry_@1x.png 278w,
          /img/modal-second/raspberry_@2x.png 556w
        "
        src="/img/modal-second/raspberry_@1x.png"
        sizes="(min-width:768px) 278px"
        alt="photo of raspberry"
        width="278"
        height="239"
      />
    </div>
    <h2 class="modal-second-title">THANK YOU</h2>
    <p class="modal-second-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
