<section class="organic-fruits section" id="organic-fruits">
  <div class="container container-product">
    <h1 class="saglav-organic">ORGANIC FRUITS</h1>
    <p class="paragraf-organic">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="cards-fruits list">
      <li class="iconka iconka-strawberry">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Strawberry</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/strawberry@1x.png 1x, /img/organicfruits/strawberry@2x.png 2x"
              src="/img/organicfruits/strawberry.png" alt="Strawberry" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">100 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-banana">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Banana</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/bananna@1x.png 1x, /img/organicfruits/bananna@2x.png 2x "
              src="/img/organicfruits/bananna.png" alt="Banana" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">80 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-watermelon">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Watermelon</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/watermelon@1x.png 1x, /img/organicfruits/watermelon@2x.png 2x"
              src="/img/organicfruits/watermelon.png" alt="Watermelon" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">40 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-lime">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Lime</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/lime@1x.png 1x, /img/organicfruits/lime@2x.png 2x"
              src="/img/organicfruits/lime.png" alt="Lime" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">60 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-apple">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Apple</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/apple@1x.png 1x, /img/organicfruits/apple@2x.png 2x"
              src="/img/organicfruits/apple.png" alt="Apple" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">50 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-peach">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Peach</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/peach@1x.png 1x, /img/organicfruits/peach@2x.png 2x"
              src="/img/organicfruits/peach.png" alt="Peach" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">80 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-plums">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Plums</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/plums@1x.png 1x, /img/organicfruits/plums@2x.png 2x "
              src="/img/organicfruits/plums.png" alt="Plums" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">40 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-orange">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Orange</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/orange@1x.png 1x, /img/organicfruits/orange@2x.png 2x"
              src="/img/organicfruits/orange.png" alt="Orange" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">60 UAH/kg</h2>
          </div>
        </a>
      </li>
      <li class="iconka iconka-kiwi">
        <a class="block-link link" href>
          <div class="block-info">
            <h2 class="block-saglav">Kiwi</h2>
            <p class="block-paragraf">Plant</p>
          </div>
          <div class="block-foto">
            <img srcset="/img/organicfruits/kiwi@1x.png 1x, /img/organicfruits/kiwi@2x.png 2x"
              src="/img/organicfruits/kiwi.png" alt="Kiwi" width="295" height="251" />
          </div>
          <div class="block-pay">
            <h2 class="mony-pay">90 UAH/kg</h2>
          </div>
        </a>
      </li>
    </ul>

    <!-- Modal button -->
    <div class="btn-order-box">
      <button class="order-button-modal" type="button" data-modal-open>
        <span class="text-order-btn">order</span>
        <svg class="order-svg" width="14" height="14">
          <use href="/img/icons.svg#icon-vector-order"></use>
        </svg>
      </button>
    </div>
  </div>
</section>