a {
  text-decoration: none;
}
.container.footer-block {
  max-width: 375px;
  padding: 80px 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
}
@media only screen and (min-width: 768px) {
  .container.footer-block {
    max-width: 768px;
    padding: 0 32px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-logo-block {
    max-width: 349px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .footer-logo-block .nav-ul {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .container.footer-block {
    max-width: 1280px;
  }
  .footer-logo-block {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) {
  .footer-contacts {
    min-width: 184px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-start;
    margin-top: 118px;
    margin-bottom: 153px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-contacts {
    margin-top: 80px;
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-img-logo {
    margin-right: 243px;
  }
}
.footer-img {
  margin-bottom: 20px;
}
.logo-svg {
  margin-right: 8px;
  fill: var(--main-color);
}
.footer-txt {
  width: 132px;
  height: 18px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--main-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.footer-logo-block .nav-ul {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
}
@media only screen and (min-width: 1280px) {
  .footer-logo-block .nav-ul {
    margin-top: 84px;
  }
}
.footer-logo-block .nav-ul .nav-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .footer-logo-block .nav-ul {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

.footer-address .auth-nav .item .info {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--main-color);
}
@media only screen and (min-width: 768px) {
  .footer-address .auth-nav .item .info {
    font-size: 18px;
    line-height: 1.33;
    align-items: start;
  }
}
.footer-address .auth-nav {
  display: flex;
  font-style: normal;
  flex-direction: column;
  justify-content: center;
}

.footer-address .phone {
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-address .phone {
    margin-bottom: 20px;
  }
}
.footer-address .address {
  display: block;
  max-width: 140px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-address .address {
    text-align: left;
    min-width: 184px;
  }
}
/* RIGHT SIDE FOOTER */
.social.media-list {
  display: flex;
  gap: 20px;
}
.social-link.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 28px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.social-link.link:hover,
.social-link.link:focus {
  background-color: rgba(174, 19, 50, 0.1);
}

.social-icon {
  fill: var(--main-color);
}

.auth-nav.list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.02em;
  /* text-transform: uppercase; */

  color: var(--main-color);
}
.item.tel {
  padding-bottom: 14px;
}
