.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* MY MEDIA CONTAINER */

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 0px;
    max-width: 1280px;
  }
}

/* Phone styles & > */
.page-header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .page-header.container {
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .page-header.container {
  }
}

svg {
  fill: crimson;
  stroke: crimson;
}
