.container {
  /* Phone styles & > */
  min-width: 320px;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* MY MEDIA CONTAINER */

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 0px;
    max-width: 1280px;
  }
}

/* Phone styles & > */
.page-header.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  height: 50px;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .page-header.container {
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .page-header.container {
  }
}

/* BOX-DIVS */

/* Phone styles & > */
.nav-box {
  display: none;
}

@media (min-width: 768px) {
  .nav-box {
    display: block;
  }
}

/* Phone styles & > */
.nav-ul {
  display: flex;
  align-items: center;
  text-align: center;
}

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .nav-ul {
    gap: 16px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .nav-ul {
    gap: 20px;
  }
}
.nav-links.link {
  text-decoration: none;
}
.nav-links {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ae1332;
}

/* Phone styles & > */
.logo-box {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.logo-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;
}

/* Phone styles & > */
.cart-box {
  display: none;
}

@media (min-width: 768px) {
  .cart-box {
    display: block;
  }
}

/* Phone styles & > */
.menu-toggle {
  display: block;
  background-color: #fff;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.fresh-header svg {
  fill: #ae1332;
}
