/* Phone styles & > */
.page-header.container {
  /* min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto; */

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  height: 50px;
}
/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .page-header.container {
    /* padding: 0 32px; */
    max-width: 768px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .page-header.container {
    max-width: 1280px;
  }
}

/* BOX-DIVS */

/* Phone styles & > */
.nav-box {
  display: none;
}

@media (min-width: 768px) {
  .nav-box {
    display: block;
  }
}

/* Phone styles & > */
.nav-ul {
  display: flex;
  align-items: center;
  text-align: center;
}

/* Tablet styles & >  */
@media only screen and (min-width: 768px) {
  .nav-ul {
    gap: 16px;
  }
}
/* Destop styles & >  */
@media only screen and (min-width: 1280px) {
  .nav-ul {
    gap: 20px;
  }
}
.nav-links.link {
  text-decoration: none;
}
.nav-links {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #ae1332;
}

/* Phone styles & > */
.logo-box {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.logo-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;
}

/* Phone styles & > */
.cart-box {
  display: none;
}

@media (min-width: 768px) {
  .cart-box {
    display: block;
  }
}

/* Phone styles & > */
.menu-toggle {
  display: block;
  background-color: #fff;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.fresh-header svg {
  fill: #ae1332;
}

/* MOB MENU */
.modal-close-btn {
  background-color: #fff;
  border: none;
}
.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  visibility: hidden;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
}

.mobail-menu-header {
  background-color: #fff;
}

.mobail-header-ul {
  display: flex;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.mobail-header-ul svg {
  fill: #ae1332;
}

.mobail-menu-main {
  padding-top: 120px;
  background-color: #ae1332;
  height: 100%;
}
.mobile-body-ul {
  width: 78px;
  margin: 0 auto;

  text-align: center;
}
.mobile-body-ul-item {
  margin-bottom: 16px;
}

.mobile-links {
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: #ffffff;
}

.mobile-body-ul svg {
  fill: #fff;
}
