.steps {
  background-color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 144px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 150px;
  }
}
.steps-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .steps-title {
    font-size: 40px;
    line-height: 1.1;
    width: 624px;
  }
}
.steps-text {
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 44px;
  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .steps-text {
    width: 509px;
    margin-right: auto;
    margin-left: auto;
  }
}
.steps-list {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .steps-list {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .steps-list {
    display: flex;
    gap: 24px;
  }
}
.steps-list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 100%;
  height: 112px;
  background-color: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .steps-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .steps-list-item {
    margin-right: auto;
    margin-left: auto;
    padding: 40px 20px;
    max-width: 389px;
    height: 128px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .steps-list-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.steps-list-num {
  font-size: 18px;
  line-height: 1.33;
  min-width: 136px;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.04em;
  border-radius: 200px;
  color: #ffffff;
}
.steps-list-item:nth-child(1) .steps-list-num {
  background-color: #ae1332;
}
.steps-list-item:nth-child(2) .steps-list-num {
  background-color: #a1c864;
}
.steps-list-item:nth-child(3) .steps-list-num {
  background-color: #f5ce13;
}
.steps-list-text {
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.04em;

  color: #000000;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 374px) {
  .steps-list-text {
    font-size: 12px;
  }
}
.steps-gif-box {
  max-width: 335px;
  height: 476px;
}
@media screen and (min-width: 768px) {
  .steps-gif-box {
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .steps-gif-box {
    max-width: 860px;
    margin: 0 auto;
  }
}
.steps-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 20px;
}
