/* <!-- Modal - THANK YOU --> */

.backdrop-second {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(6px);
  transition-property: visibility, opacity, pointer-events;
  transition-duration: 250ms;
}

.backdrop-second.is-hidden-second {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-second {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 545px;
  padding-right: 105px;
  padding-left: 105px;
  padding-bottom: 80px;
  padding-top: 68px;

  background: #e03f5e;
  border-radius: 20px;
}

.btn-close-second {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-second-button {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-second-cross-icon {
  fill: white;
}

.modal-second-thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.modal-second-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.modal-second-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
