.organic-fruits {
  background-color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .saglav-organic {
    width: 210px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

    /* Вирівнювання по центру */
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .saglav-organic {
    width: 624px;
    height: 44px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .saglav-organic {
    width: 624px;
    height: 44px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

.paragraf-organic {
  width: 334px;
  height: 90px;
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .paragraf-organic {
    color: #ffffff;
    text-align: center;
    letter-spacing: -0.04em;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    width: 547px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-width: 1280px) {
  .paragraf-organic {
    width: 547px;
    height: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    margin-bottom: 44px;
    margin-top: 14px;
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  }
}

.cards-fruits {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 14px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .cards-fruits {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-fruits {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }
}

.iconka:hover,
.iconka:focus {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.iconka {
  transition: box-shadow var(--icon-hover-color);
}

@media screen and (min-width: 1280px) {
  .iconka {
    flex-basis: calc((100% - 2 * 24px)/3);
  }
}


@media screen and (min-width: 768px) {
  .iconka-strawberry {
    background: #f8766b;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-strawberry {
    background: #f8766b;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-strawberry {
    background: #f8766b;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-banana {
    background: #edd251;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-banana {
    background: #edd251;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-banana {
    background: #edd251;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-watermelon {
    background: #9dc262;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-watermelon {
    background: #9dc262;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-watermelon {
    background: #9dc262;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-lime {
    background: #bfd663;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-lime {
    background: #bfd663;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-lime {
    background: #bfd663;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-apple {
    background: #e93f29;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-apple {
    background: #e93f29;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-apple {
    background: #e93f29;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-peach {
    background: #db4f4b;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-peach {
    background: #db4f4b;
    width: 335px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-peach {
    background: #db4f4b;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) {
  .iconka-plums {
    background: #9b5366;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-plums {
    background: #9b5366;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-plums {
    background: #9b5366;
    width: 335px;
    height: 465px;
    border-radius: 20px;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .iconka-orange {
    background: #f47f4c;
    width: 335px;
    height: 465px;
    border-radius: 20px;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .iconka-orange {
    background: #f47f4c;
    width: 344px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-orange {
    background: #f47f4c;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .iconka-kiwi {
    background: #98b37e;
    width: 389px;
    height: 465px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) {
  .iconka-kiwi {
    background: #98B37E;
    width: 335px;
    height: 465px;
    border-radius: 20px;
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .iconka-kiwi {
    background: #98B37E;
    width: 344px;
    height: 465px;
    border-radius: 20px;
    display: none;
  }
}

.block-saglav {
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  margin-left: 24px;
  margin-top: 64px;
}

.block-paragraf {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-left: 24px;
  margin-top: 8px;
}

.block-pay {
  background: #ffffff;
  border-radius: 200px;
  width: 136px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 24px;
  margin-bottom: 24px;
}

.mony-pay {
  color: #ae1332;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.04em;
}

.block-foto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: auto;
}

.link {
  text-decoration: none;
}