@import url(./reset.css);

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dmsans-bold-webfont.woff2'),
    url('../fonts/dmsans-bold-webfont.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dmsans-medium-webfont.woff2'),
    url('../fonts/dmsans-medium-webfont.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dmsans-regular-webfont.woff2'),
    url('../fonts/dmsans-regular-webfont.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

:root {
  --black-color: #000000;
  --main-color: #ae1332;
  --text-color: #ffffff;
  --light-green: #a4cb66;
  --yellow-color: #f5ce13;
  --icon-hover-color: rgba(174, 19, 50, 0.1);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
